{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-5">History of the Internet Website and OOP concepts</h1>
    <p class="lead">I will introduce five videos about
        the history of the Internet in Project 1. And I will inform you guys about the various OOP concepts I learnt in IS601 in Project 2.</p>
    <a class="btn btn-info btn-dark" href="about.html" role="button">Learn about our project</a>
    <hr class="my-4">
    <h2 class="display-5">Project By: Myles Dsouza</h2>
    <a class="btn btn-info btn-dark" href="team.html" role="button">See who is involved</a>
</div>
<div class="container">
    <div class="col-sm-11">
    <h1>Outline of Events</h1>
    <div class="row cardRow">
        <div class="col-sm-5">
            <div class="card border rounded">
                <img src="{{ url_for('static', filename='images/index1.jpg') }}" class="card-img-top" alt="tittle image of video1">
                <div class="card-body">
                    <h5 class="card-title">Video 1: Invention of the Internet</h5>
                    <a href="video2.html" class="btn btn-primary">Get Summary</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="card border rounded">
                <img src="{{ url_for('static', filename='images/index2.jpg') }}" class="card-img-top" alt="tittle image of video2">
                <div class="card-body">
                    <h5 class="card-title">Video 2: Story about Browser Wars</h5>
                    <a href="video2.html" class="btn btn-primary">Get Summary</a>
                </div>
            </div>
        </div>
    </div>
    <h1></h1>
    <div class="row cardRow">
        <div class="col-sm-5">
            <div class="card border rounded">
                <img src="{{ url_for('static', filename='images/index3.png') }}" class="card-img-top" alt="tittle image of video3">
                <div class="card-body">
                    <h5 class="card-title">Video 3: Internet Search</h5>
                    <a href="video3.html" class="btn btn-primary">Get Summary</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="card border rounded">
                <img src="{{ url_for('static', filename='images/index4.jpg') }}" class="card-img-top" alt="tittle image of video4">
                <div class="card-body">
                    <h5 class="card-title">Video 4: Dot Com Bubble</h5>
                    <a href="video4.html" class="btn btn-primary">Get Summary</a>
                </div>
            </div>
        </div>
    </div>
    <h1></h1>
    <div class="row cardRow">
        <div class="col-sm-5">
            <div class="card border rounded">
                <img src="{{ url_for('static', filename='images/index5.jpg') }}" class="card-img-top" alt="tittle image of video5">
                <div class="card-body">
                    <h5 class="card-title">Video 5: People and their Power</h5>
                    <a href="video5.html" class="btn btn-primary">Get Summary</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="card border rounded">
                <img src="{{ url_for('static', filename='images/calc.jpg') }}" class="card-img-top" alt="title image">
                <div class="card-body">
                    <h5 class="card-title">Project 2: Articles related to OOP</h5>
                    <a href="part1.html" class="btn btn-primary">Go to Project</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<h1></h1>
{% endblock %}